@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

@font-face {
  font-family: Astrolab;
  src: url("./assets/astrolab.ttf");
}

* {
  font-family: "Noto Sans JP";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 25px;
}

header > h1 {
  text-align: center;
  font-size: 60px;
  margin: auto;
  padding-bottom: 15px;
}

#game {
  margin: auto;
  height: 10%;
  overflow: hidden;
  padding-bottom: 25px;
}

#tetris {
  margin: auto;
  display: block;
  background: #ebf7ff;
  border-radius: 50px;
}

#score {
  text-align: center;
  display: block;
}

#scoreWord {
  font-family: "Italianno", cursive;
  font-size: 60px;
  font-color: #656565;
  position: relative;
  bottom: 2px;
}

#scoreValue {
  font-family: "Astrolab";
  font-size: 35px;
}

#instructions div {
  font-size: 18px;
  display: flex;
}

#instructions div span {
  flex: 1;
  padding-bottom: 8px;
}

#instructions div span:first-of-type {
  text-align: right;
  font-weight: 500;
  padding-right: 15px;
}

#instructions div span:last-of-type {
  padding-left: 15px;
  font-weight: 300;
  font-style: italic;
}
